<h2 mat-dialog-title class="mb-1">
    <div class="d-md-flex">
        <h2 mat-dialog-title class="mb-1">{{ item.name }}</h2>
        <div class="spacer d-none d-md-block"></div>
        <span class="mat-caption mat-elevation-z1 rounded p-2 pt-2" style="border-left: 4px solid transparent; background-color: rgba(255, 255, 255, 0.95)" [style.borderLeftColor]="category.color">
            {{ category.name }}
        </span>
    </div>
</h2>
<mat-dialog-content>
    <p class="mt-2" *ngIf="item.description">{{ item.description }}</p>
    <div class="mat-body-1 comment" *ngFor="let comment of item.comments; let c = index">
        <span class="mat-caption" [matTooltip]="(comment.timestamp | date: 'mediumDate') + ' at ' + (comment.timestamp | date: 'mediumTime')" matTooltipPosition="right" style="cursor: default">
            {{ comment.timestamp | dateAgo }}
            <span *ngIf="comment.edited">&middot; (Edited)</span>
        </span>
        <div #commentContent class="comment-content mat-elevation-z1">{{ comment.content }}</div>
        <p class="mat-caption span-action-group">
            <span (click)="commentEditable(commentContent, c)">Edit</span>
            &middot;
            <span (click)="commentDelete(c)">Delete</span>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" style="background-color: rgba(255, 255, 255, 0.95)">
    <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
</mat-dialog-actions>
