.comment {
    margin: 30px 0;
    border-radius: 4px;
    overflow: hidden;
    // border-top: 3px solid var(--color-primary);
    background-color: rgba(white, 0.95);

    .comment-content {
        // margin-top: 30px;
        padding: 10px;
        margin: 5px 0;
        width: 90%;
        display: inline-block;
        white-space: pre-wrap;
        word-wrap: break-word;
        border: 1px solid rgba(#000, 0.3);
        border-left: 3px solid var(--color-primary);
        border-radius: 3px;
    }

    .comment-content + .span-action-group span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.comment:nth-child(1) {
    margin-top: 0;
}

.mat-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
