<h2 mat-dialog-title>{{ item.name }}</h2>
<mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <p *ngIf="item.description">{{ item.description }}</p>
    <div class="mat-body-1 comment" *ngFor="let comment of item.comments; let c = index">
        <span class="mat-caption" [matTooltip]="(comment.timestamp | date: 'mediumDate') + ' at ' + (comment.timestamp | date: 'mediumTime')" matTooltipPosition="right" style="cursor: default">
            {{ comment.timestamp | dateAgo }}
            <span *ngIf="comment.edited">&middot; (Edited)</span>
        </span>
        <div #commentContent class="comment-content mat-elevation-z1">{{ comment.content }}</div>
        <p class="mat-caption span-action-group">
            <span (click)="commentEditable(commentContent, c)">Edit</span>
            &middot;
            <span (click)="commentDelete(c)">Delete</span>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
</mat-dialog-actions>
