<h2 mat-dialog-title>Categories</h2>
<mat-dialog-content>
    <!-- <pre>{{ categories | json }}</pre> -->
    <p>Category name max length = 25</p>
    <mat-card class="mb-3 pb-0" *ngFor="let category of categories; let i = index" style="border-left: 4px solid transparent" [style.borderLeftColor]="category.color">
        <mat-card-content>
            <mat-form-field appearance="fill" [style.width.%]="100">
                <mat-label>Category Name</mat-label>
                <input #txt matInput type="text" [value]="category.name" [(ngModel)]="categories[i].name" maxlength="25" />
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button color="primary" mat-raised-button [mat-dialog-close]="categories">Save</button>
</mat-dialog-actions>
