<div class="kanban">
    <div class="container my-0">
        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select [(ngModel)]="selectedColors" multiple>
                <mat-option class="position-sticky top-0" (click)="selectAllCategory()" value="0" style="z-index: 2; background-color: #fff">ALL</mat-option>
                <mat-divider></mat-divider>
                <mat-option (click)="selectNotAll()" *ngFor="let category of categories" [value]="category.color" [style.borderLeftColor]="category.color" class="m-0 d-flex justify-content-center align-items-center" style="border-left: 10px solid transparent">
                    <!-- <span class="d-inline-block me-3" style="width: 15px; height: 15px; border-radius: 3px; border: 1px solid #ccc" [style.backgroundColor]="c"></span> -->
                    <span>{{ category.name }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-icon-button class="ms-1" matTooltip="Manage Categories" (click)="openCategory()">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-checkbox (click)="selectAllCategory(false)" [(ngModel)]="allSelected">All categories selected</mat-checkbox>
    </div>

    <!-- ALERT NOT ABLE TO DRAG WHEN SORT -->
    <mat-card class="position-fixed bottom-0 end-0 m-4 mat-elevation-z7" style="max-width: 430px; z-index: 20" *ngIf="!allSelected">
        <mat-card-content>
            <span class="mat-body-2" style="color: red">Unable to drag items when filtered.</span>
            <br />
            <span>Please select all categories to allow dragging of items inside a list/group/workflow.</span>
        </mat-card-content>
        <mat-card-actions align="end">
            <a color="primary" mat-button href="https://github.com/angular/components/issues/20633" target="_blank">
                <mat-icon>launch</mat-icon>
                <span> See Github Issue </span>
            </a>
            <button mat-button (click)="selectAllCategory()">SELECT ALL</button>
        </mat-card-actions>
    </mat-card>

    <!-- Color Debug -->
    <!-- {{ allSelected | json }} -->
    <!-- {{ selectedColors | json }} -->
    <div class="parent-card-container mt-0 pt-0" cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" (cdkDropListDropped)="wfDrop($event)" @listAnim>
        <!-- cdkDropListGroup is given since we don't have a "fixed" [cdkDropListConnectedTo] array value -->
        <!-- Workflow -->
        <div class="wf-wrapper" *ngFor="let wf of globalData.workflows; let i = index" cdkDrag @slideIn>
            <mat-card class="wf-card mat-elevation-z3">
                <mat-card-title>
                    <span class="wf-title-drag mat-title" cdkDragHandle>
                        <mat-icon color="primary">drag_indicator</mat-icon>
                        <span>{{ wf.name }}</span>
                    </span>
                    <button mat-icon-button [mat-menu-trigger-for]="listOpts">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #listOpts>
                        <button mat-menu-item (click)="wfRename(i)">
                            <mat-icon>edit</mat-icon>
                            <span>Rename</span>
                        </button>
                        <button mat-menu-item (click)="wfDelete(i)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <!-- Items -->
                <mat-card-content cdkDropList (cdkDropListDropped)="itemDrop($event, i)" [cdkDropListData]="wf.items">
                    <mat-card class="item-card" *ngFor="let item of wf.items; let j = index" cdkDrag [cdkDragDisabled]="!allSelected" [style.borderLeftColor]="item.color" [style.display]="selectedColors.includes(item.color) ? '' : 'none'">
                        <mat-card-content>
                            <span style="max-width: 50%" [matTooltip]="item.description">{{ item.name }}</span>
                            <div class="spacer"></div>
                            <button class="comment-icon-group" mat-button *ngIf="item.comments.length" (click)="itemCommentView(i, j)" matTooltip="View comments" matTooltipPosition="above">
                                <mat-icon>chat_bubble_outline</mat-icon>
                                <span>{{ item.comments.length }}</span>
                            </button>
                            <button mat-icon-button [mat-menu-trigger-for]="listOpts">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #listOpts>
                                <button mat-menu-item (click)="itemOpenCommentDialog(i, j)">
                                    <mat-icon>chat_bubble</mat-icon>
                                    <span>Add Comment</span>
                                </button>
                                <button mat-menu-item (click)="itemModify(i, j)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modify</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="itemDelete(i, j)">
                                    <mat-icon color="warn">delete</mat-icon>
                                    <span style="color: var(--color-warn)">Delete</span>
                                </button>
                            </mat-menu>
                        </mat-card-content>
                        <!-- <mat-divider></mat-divider>
                        <mat-card-actions>
                            <button class="comment-icon-group" mat-button>
                                <mat-icon>chat_bubble_outline</mat-icon>
                                <span>{{ item.comments.length }}</span>
                            </button>
                        </mat-card-actions> -->
                    </mat-card>
                    <!-- Add Item -->
                    <button mat-button color="primary" style="width: 100%; text-align: left" (click)="itemAdd(i)">
                        <mat-icon>add</mat-icon>
                        <span>Add an item</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Add Workflow -->
        <div class="wf-add">
            <button mat-button style="width: 100%; height: 100%" color="primary" (click)="wfAdd()">
                <mat-icon>add</mat-icon>
                <span>Add Workflow</span>
            </button>
        </div>
    </div>
    <div style="margin: 5px; padding: 15px">
        <p><strong>Notice</strong>: Data is currently being saved in <code>this</code> browser's local storage<br />Do not go <code>incognito</code> if you do not want to lose your data when the browser is closed<br />Use the same browser to retrieve same data.</p>

        <mat-card class="storage-card" style="width: 200px">
            <mat-card-content>
                <mat-progress-bar mode="determinate" [value]="totalStoragePercent"></mat-progress-bar>
                <div class="span-group">
                    <span class="mat-caption">{{ storageSize | shortenBytes }}</span>
                    <span class="mat-caption">{{ maxStorageSize | shortenBytes: 0 }}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <p>Your browser's page can store up until {{ maxStorageSize | shortenBytes: 0 }}.</p>

        <span class="mat-caption" style="margin-bottom: 20px">Version: {{ version }}</span>
    </div>
    <mat-card class="info-consent mat-elevation-z7" *ngIf="!docsCookies">
        <mat-card-subtitle>This app says that...</mat-card-subtitle>
        <mat-card-content>
            <p style="font-size: 16px">This page uses browser's localStorage to store the data. Please use the same browser to retrieve the same data.</p>
            <p class="mat-body-1" style="font-size: 16px; color: red">In Private browsing or in Incognito mode, you will lose all your data upon closing the browser.</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <a href="https://www.google.com/search?q=what+is+my+browser+max+local+storage&rlz=1C1GCEB_enPH906PH906&ei=zQT6YYWHN5OJoAS4_LqICg&ved=0ahUKEwjFobvek-D1AhWTBIgKHTi-DqEQ4dUDCA4&uact=5&oq=what+is+my+browser+max+local+storage&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsAM6CggAEEcQsAMQyQM6BwgAELADEEM6BAgAEA06BAghEApKBAhBGABKBAhGGABQ1iFY7DVgvzZoA3ACeACAAVSIAY0EkgEBN5gBAKABAcgBCcABAQ&sclient=gws-wiz" target="_blank" mat-button> MORE DETAILS</a>
            <button mat-button color="primary" (click)="userGotIt()">OK, GOT IT</button>
        </mat-card-actions>
    </mat-card>
    <!-- DEBUG HELPER -->
    <!-- <pre>{{ workflows | json }}</pre> -->
</div>
