<div class="kanban">
    <div class="parent-card-container" cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" (cdkDropListDropped)="wfDrop($event)" @listAnim>
        <!-- cdkDropListGroup is given since we don't have a "fixed" [cdkDropListConnectedTo] array value -->
        <!-- Workflow -->
        <div class="wf-wrapper" *ngFor="let wf of workflows; let i = index" cdkDrag @slideIn>
            <mat-card class="wf-card mat-elevation-z3">
                <mat-card-title>
                    <span class="wf-title-drag mat-title" cdkDragHandle>
                        <mat-icon color="primary">drag_indicator</mat-icon>
                        <span>{{ wf.name }}</span>
                    </span>
                    <button mat-icon-button [mat-menu-trigger-for]="listOpts">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #listOpts>
                        <button mat-menu-item (click)="wfRename(i)">
                            <mat-icon>edit</mat-icon>
                            <span>Rename</span>
                        </button>
                        <button mat-menu-item (click)="wfDelete(i)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <!-- Items -->
                <mat-card-content cdkDropList (cdkDropListDropped)="itemDrop($event, i)" [cdkDropListData]="wf.items">
                    <mat-card class="item-card" *ngFor="let item of wf.items; let j = index" cdkDrag [style.borderLeftColor]="item.color">
                        <mat-card-content>
                            <span style="max-width: 50%" [matTooltip]="item.description">{{ item.name }}</span>
                            <div class="spacer"></div>
                            <button class="comment-icon-group" mat-button *ngIf="item.comments.length" (click)="itemCommentView(i, j)" matTooltip="View comments" matTooltipPosition="above">
                                <mat-icon>chat_bubble_outline</mat-icon>
                                <span>{{ item.comments.length }}</span>
                            </button>
                            <button mat-icon-button [mat-menu-trigger-for]="listOpts">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #listOpts>
                                <button mat-menu-item (click)="itemOpenCommentDialog(i, j)">
                                    <mat-icon>chat_bubble</mat-icon>
                                    <span>Add Comment</span>
                                </button>
                                <button mat-menu-item (click)="itemModify(i, j)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modify</span>
                                </button>
                                <button mat-menu-item (click)="itemDelete(i, j)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </mat-card-content>
                        <!-- <mat-divider></mat-divider>
                        <mat-card-actions>
                            <button class="comment-icon-group" mat-button>
                                <mat-icon>chat_bubble_outline</mat-icon>
                                <span>{{ item.comments.length }}</span>
                            </button>
                        </mat-card-actions> -->
                    </mat-card>
                    <!-- Add Item -->
                    <button mat-button color="primary" style="width: 100%; text-align: left" (click)="itemAdd(i)">
                        <mat-icon>add</mat-icon>
                        <span>Add an item</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Add Workflow -->
        <div class="wf-add">
            <button mat-button style="width: 100%; height: 100%" color="primary" (click)="wfAdd()">
                <mat-icon>add</mat-icon>
                <span>Add Workflow</span>
            </button>
        </div>
    </div>
    <div style="margin: 5px; padding: 15px">
        <p><strong>Notice</strong>: Data is currently being saved in the browser's local storage<br />Do not go <code>incognito</code> if you do not want to lose your data when the browser is closed</p>

        <mat-card class="storage-card" style="width: 200px">
            <mat-card-content>
                <mat-progress-bar mode="determinate" [value]="totalStoragePercent"></mat-progress-bar>
                <div class="span-group">
                    <span class="mat-caption">{{ storageSize | shortenBytes }}</span>
                    <span class="mat-caption">{{ maxStorageSize | shortenBytes }}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <span class="mat-caption" style="margin-bottom: 20px">Version: {{ version }}</span>
    </div>
    <mat-card class="info-consent mat-elevation-z7" *ngIf="!docsCookies">
        <mat-card-content>
            <p style="font-size: 16px">This page uses browser's localStorage to store the data. Each origin can store a total of {{ maxStorageSize | shortenBytes }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <a href="https://www.google.com/search?q=what+is+my+browser+max+local+storage&rlz=1C1GCEB_enPH906PH906&ei=zQT6YYWHN5OJoAS4_LqICg&ved=0ahUKEwjFobvek-D1AhWTBIgKHTi-DqEQ4dUDCA4&uact=5&oq=what+is+my+browser+max+local+storage&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsAM6CggAEEcQsAMQyQM6BwgAELADEEM6BAgAEA06BAghEApKBAhBGABKBAhGGABQ1iFY7DVgvzZoA3ACeACAAVSIAY0EkgEBN5gBAKABAcgBCcABAQ&sclient=gws-wiz" target="_blank" mat-button> MORE DETAILS</a>
            <button mat-button color="primary" (click)="userGotIt()">OK, GOT IT</button>
        </mat-card-actions>
    </mat-card>
    <!-- DEBUG HELPER -->
    <!-- <pre>{{ workflows | json }}</pre> -->
</div>
