<form onsubmit="return false">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        <!-- Name -->
        <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-label>{{ labelText }}</mat-label>
            <input matInput #txt type="text" [value]="inputValue" [placeholder]="placeholderText" />
            <mat-hint>{{ hintText }}</mat-hint>
        </mat-form-field>
        <!-- Description -->
        <mat-form-field appearance="outline" [style.width.%]="100" [style.display]="isTodo() === false ? 'none' : ''">
            <mat-label>Description</mat-label>
            <textarea matInput #desc type="text" [value]="description" placeholder="(e.g. Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries...)" rows="5"></textarea>
            <mat-hint>Description is optional</mat-hint>
        </mat-form-field>
        <!-- Colors -->
        <div class="container-fluid" *ngIf="displayColors">
            <mat-card style="margin-bottom: 20px; border-left: 4px solid transparent" [style.borderLeftColor]="color">
                <mat-card-content>Choose color below</mat-card-content>
            </mat-card>
            <div class="color-picker">
                <div class="color-tile-wrapper" *ngFor="let c of colors" (click)="chooseColor(c)">
                    <div class="color-tile" [style.backgroundColor]="c" [class.current]="color === c"></div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-raised-button [color]="btnColor" [mat-dialog-close]="{ name: txt.value, description: desc.value, color: this.color }">{{ btnText }}</button>
    </mat-dialog-actions>
</form>
