<form onsubmit="return false">
    <h2 mat-dialog-title>{{ item.name }}</h2>
    <mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        <p>{{ item.description }}</p>
        <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>Add Comment</mat-label>
            <textarea matInput #txt rows="10" placeholder="Enter your comment here"></textarea>
            <mat-hint>i.e. activities or updates</mat-hint>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]>Cancel</button>
        <button type="submit" mat-raised-button [mat-dialog-close]="txt.value" color="primary">Add Comment</button>
    </mat-dialog-actions>
</form>
